PORT=3001
ORIGIN=http://localhost:3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/nestjs-automated-jwt-auth

# SECRET
JWT_SECRET=long_random_string
JWT_REFRESH_SECRET=different_long_random_string
JWT_PASSWORD_SECRET=another_long_random_string
COOKIE_SECRET=weird_long_random_string

# Cookie Configuration
COOKIE_DOMAIN=.domain.com

# Mailer
MAILER_TRANSPORT=smtp://localhost:1025
MAILER_DEFAULT_FROM=test@test.com

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_from_google_cloud_console
GOOGLE_CLIENT_SECRET=your_google_client_secret_from_google_cloud_console
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback